@mixin border-radius-small {
  border-radius: 10px;
}

@mixin border-radius-large {
  border-radius: 20px;
}



$mud: #f4d98a;
//    e.g. boarders

$sand: #594fbf;
//    e.g. notification boxes

$wet_sand: #e4d37d;
//    e.g. some boarders


$sky: #92adcd;
// . e.g. heading boxes
$water: #5a95d8;


$night: #b0e3dc;
//highlight new topic button
$dark_night: #9ebab6;
//lowlight


$gold: #1D4776;
//  e.g. heading boxes
$light_gold: #FFD966;
//  e.g. new window flash-temp highlight
//ffb15d
//$poppy: #ffb15d;
//$green: #bce1a9;


//$test: #1f2434;
// original palette:

// $mud: #ccc1a7;
// $sand: #f1e9d5;
// $wet_sand: #eae5cd;

// $sky: #68c6b9;
// $water: #00a791;

// $night: #015562;
// $dark_night: #00333d;

// $gold: #fcca46;
// $light_gold: #fdde89;
